@font-face {
  font-family: TBC Contractica CAPS Black;
  src: url("./fonts/TBCContracticaCAPS-Black.ttf");
}

@font-face {
  font-family: TBC Contractica CAPs;
  src: url("./fonts/TBCContracticaCAPS-Bold.ttf");
}

@font-face {
  font-family: TBC Contractica Regular;
  src: url("./fonts/TBCContracticaCAPS-Regular.ttf");
}


* {
  user-select: none;
}

*:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #edccc1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f87f56;
}

body {
  background-color: #d1eaef;
  /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"),
    auto; */
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #fece2f !important;
}

::selection {
  color: white;
  background: #fece2f !important;
}

.section {
  background-image: url('./img/Background-shapes-new.svg');
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  /* border: solid 1px green; */
}

.section-fifth {
  background-image: none;
}

.background-shapes-img {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#fp-nav ul li,
ul li {
  height: 50px !important;
}

#fp-nav ul li a span,
ul li a span {
  width: 10px !important;
  height: 10px !important;
  margin: -5px 0 0 -5px !important;
  background: white !important;
}

#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
ul li:hover a.active span,
ul li a.active span {
  height: 18px !important;
  width: 18px !important;
  margin: -9px 0 0 -9px !important;
  border-radius: 100% !important;

  background: #261f63 !important;
}

#fp-nav .fp-tooltip {
  font-family: Arial, sans-serif !important;
}


/* Slides */
.slide {
  position: relative;
}
.fp-slidesNav.fp-bottom {
  display: flex !important;
  justify-content: space-around;
  margin-bottom: 50px !important;
  padding-top: 20px;
}

.fp-slidesNav.fp-bottom ul li a {
  height: 20px !important;
}

.fp-controlArrow.fp-prev {
  /* border-width: 28.5px 25px 28.5px 0 !important; */
  top: 100% !important;
  left: 100px !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-image: url("./img/icons8-chevron-left-60.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px transparent !important;
}

.fp-controlArrow.fp-next {
  /* border-width: 28.5px 0 28.5px 25px !important; */
  top: 100% !important;
  left: 200px !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-image: url("./img/icons8-chevron-right-60.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px transparent !important;
}

@media screen and (max-width: 830px) {
  .fp-controlArrow.fp-next {
    display: none;
  }
  .fp-controlArrow.fp-prev {
    display: none;
  }
}

.navbar-navlink {
  text-decoration: none;
  color: #261f63;
}

.navbar-navlink:hover {
  color: #f0382e;
}

.navbar-active {
  color: #f0382e;
}

.navbar-style {
  background-color: red !important;
}

@media screen and (max-width: 830px) {
  .navbar-navlink {
    color: white;
  }
}

@media screen and (max-width: 830px) {
  #fp-nav ul,
  ul {
    margin-left: -15px !important;
  }

  #fp-nav ul li,
  ul li {
    height: 20px !important;
  }

  #fp-nav ul li a span,
  ul li a span {
    width: 8px !important;
    height: 8px !important;
    margin: -4px 0 0 -4px !important;
    background: white !important;
  }

  #fp-nav ul li:hover a.active span,
  #fp-nav ul li a.active span,
  ul li:hover a.active span,
  ul li a.active span {
    height: 14px !important;
    width: 14px !important;
    margin: -7px 0 0 -7px !important;
    border-radius: 100% !important;

    background: #261f63 !important;
  }
}

/* ------------------------------------------------------ */
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  33.3% {
    transform: translate3d(0, 66.6%, 0);
  }
  66.6% {
    transform: translate3d(0, 33.3%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showTopText2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  33.3% {
    transform: translate3d(0, 33.3%, 0);
  }
  66.6% {
    transform: translate3d(0, 66.6%, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
.section-one > .fp-tableCell .animated-title {
  color: #261f63;
  font-family: TBC Contractica CAPS Black;
  height: 200px;
  left: 10%;
  position: absolute;
  top: 10%;
  /* transform: translate(-50%, -50%); */
  width: 500px;
}

.section-one > .fp-tableCell .animated-title > div {
  height: auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
  max-width: 400px;
  /* border: solid 1px green; */
}
.section-one > .fp-tableCell .animated-title > div div {
  font-size: 46px;
}
.section-one > .fp-tableCell .animated-title > div div span {
  display: block;
}
.section-one > .fp-tableCell .animated-title > div.text-top {
  border-bottom: 5px solid #c2d7e2;
  bottom: 0;
}
.section-one > .fp-tableCell .animated-title > div.text-top div {
  animation: showTopText2 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 0);
}

.section-one.active > .fp-tableCell .animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(100%, 0);
}

@media screen and (max-width: 1024px) {
  .section-one > .fp-tableCell .animated-title {
    left: 10%;
    top: 0%;
    width: 80%;
    /* border: solid 1px green; */
    align-self: center;
  }

  .section-one > .fp-tableCell .animated-title > div div {
    font-size: 30px;
    /* border: solid 1px red; */
    /* top: 0px; */
    display: block;
    text-align: center;
  }

  .section-one > .fp-tableCell .animated-title > div {
    max-width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 800px) {
  .section-one > .fp-tableCell .animated-title {
    left: 15%;
    top: 0%;
    width: 70%;
    /* border: solid 1px green; */
    align-self: center;
    height: 150px;
  }
}

@media (max-width: 600px) and (min-width: 550px) {
  .section-one > .fp-tableCell .animated-title {
    height: 120px;
    width: 90%;
    left: 5%;
    /* border: solid 1px green; */
  }
}

@media screen and (max-width: 350px) {
  .section-one > .fp-tableCell .animated-title > div div {
    font-size: 32px;
  }
}

/* ========== SECTION 1 - content animation ========== */

.section-one > .fp-tableCell .section-text {
  transform: translateX(-100%) !important;
  opacity: 0 !important;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.8s !important;
}

.section-one > .fp-tableCell .section-text {
  transition-delay: 0.2s !important;
}

.section-one.active > .fp-tableCell .section-text {
  transform: translateX(0) !important;
  opacity: 1 !important;
}

.section-one.active > .fp-tableCell .section-text {
  transition-delay: 0.4s !important;
}

/* ------------- */
.section-one > .fp-tableCell .section-img {
  transform: translateX(100%) !important;
  opacity: 0 !important;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.8s !important;
}

.section-one > .fp-tableCell .section-img {
  transition-delay: 0.2s !important;
}

.section-one.active > .fp-tableCell .section-img {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

.section-one.active > .fp-tableCell .section-img {
  transition-delay: 0.4s !important;
}

@media screen and (max-width: 1024px) {
  .section-one > .fp-tableCell .section-text {
    transform: translateY(50%) !important;
  }

  .section-one.active > .fp-tableCell .section-text {
    transform: translateY(0%) !important;
  }

  /* ------------- */
  .section-one > .fp-tableCell .section-img {
    transform: translateY(-50%) !important;
  }

  .section-one.active > .fp-tableCell .section-img {
    transform: translateY(0%) !important;
  }
}

/* ========== SECTION 2 - content animation ========== */

.section-two > .fp-tableCell .section-text {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.8s;
}

.section-two > .fp-tableCell .section-text {
  transition-delay: 0.1s !important;
}

.section-two.active > .fp-tableCell .section-text {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

.section-two.active > .fp-tableCell .section-text {
  transition-delay: 0.2s !important;
}
/* ------------- */
.section-two > .fp-tableCell .section-img {
  transform: translateX(100%) !important;
  opacity: 0 !important;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.8s !important;
}

.section-two > .fp-tableCell .section-img {
  transition-delay: 0.1s !important;
}

.section-two.active > .fp-tableCell .section-img {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

.section-two.active > .fp-tableCell .section-img {
  transition-delay: 0.2s !important;
}

@media screen and (max-width: 1024px) {
  .section-two > .fp-tableCell .section-text {
    transform: translateY(50%);
  }

  .section-two.active > .fp-tableCell .section-text {
    transform: translateY(0%) !important;
  }

  /* ------------- */

  .section-two > .fp-tableCell .section-img {
    transform: translateY(-50%) !important;
  }

  .section-two.active > .fp-tableCell .section-img {
    transform: translateY(0%) !important;
  }
}

/* ========== SECTION 3 - content animation ========== */

.section-three > .fp-tableCell .section-text {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.8s;
}

.section-three > .fp-tableCell .section-text {
  transition-delay: 0.1s !important;
}

.section-three.active > .fp-tableCell .section-text {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

.section-three.active > .fp-tableCell .section-text {
  transition-delay: 0.2s !important;
}
/* ------------- */
.section-three > .fp-tableCell .section-img {
  transform: translateX(100%) !important;
  opacity: 0 !important;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.8s !important;
}

.section-three > .fp-tableCell .section-img {
  transition-delay: 0.1s !important;
}

.section-three.active > .fp-tableCell .section-img {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

.section-three.active > .fp-tableCell .section-img {
  transition-delay: 0.2s !important;
}

@media screen and (max-width: 1024px) {
  .section-three > .fp-tableCell .section-text {
    transform: translateY(50%);
  }

  .section-three.active > .fp-tableCell .section-text {
    transform: translateY(0%) !important;
  }

  /* ------------- */
  .section-three > .fp-tableCell .section-img {
    transform: translateY(-50%) !important;
  }

  .section-three.active > .fp-tableCell .section-img {
    transform: translateY(0%) !important;
  }
}

/* ========== SECTION 4 - content animation ========== */

.section-fourth > .fp-tableCell .section-text {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.8s;
}

.section-fourth > .fp-tableCell .section-text {
  transition-delay: 0.1s !important;
}

.section-fourth.active > .fp-tableCell .section-text {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

.section-fourth.active > .fp-tableCell .section-text {
  transition-delay: 0.2s !important;
}
/* ------------- */
.section-fourth > .fp-tableCell .section-img {
  transform: translateX(100%) !important;
  opacity: 0 !important;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity 0.8s !important;
}

.section-fourth > .fp-tableCell .section-img {
  transition-delay: 0.1s !important;
}

.section-fourth.active > .fp-tableCell .section-img {
  transform: translateX(0%) !important;
  opacity: 1 !important;
}

.section-fourth.active > .fp-tableCell .section-img {
  transition-delay: 0.2s !important;
}

@media screen and (max-width: 1024px) {
  .section-fourth > .fp-tableCell .section-text {
    transform: translateY(50%);
  }

  .section-fourth.active > .fp-tableCell .section-text {
    transform: translateY(0%) !important;
  }
  /* ------------- */
  .section-fourth > .fp-tableCell .section-img {
    transform: translateY(-50%) !important;
  }

  .section-fourth.active > .fp-tableCell .section-img {
    transform: translateY(0%) !important;
  }
}

/* Carousel */

@media screen and (min-width: 800px) {
  .splide__list {
    /* border: solid 1px red !important; */
    height: 100%;
  }

  .splide__slide {
    opacity: 0.5;
    background-color: white !important;
    height: 500px !important;
    border: none !important;
    margin-top: 45px !important;
    box-shadow: 0px 0px 4px 4px rgba(209, 234, 239, 0.1) !important;
    border-radius: 10px !important;
    transition: 0.2s !important;
    margin-left: -10px !important;
  }

  .is-visible {
    margin-top: 5px !important;
    height: 580px !important;
    opacity: 1 !important;
    background-color: white !important;
    transition: 0.2s !important;
    z-index: 10 !important;
  }
}

.splide__slide {
  /* opacity: 0.5; */
  background-color: white !important;
}

.splide__pagination__page {
  background-color: white !important;
}

.splide__pagination__page.is-active {
  background-color: #f33e00 !important;
}

/* ______________________________________________________ */

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  /* filter: blur(8px); */
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 800px) {
  .menu-btn {
    display: none;
  }
}

#active:checked ~ .wrapper {
  clip-path: circle(75%);
  background: #f25d2a;
}

/* #fp-nav {
  display: none !important;
} */

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 0px;
  /* left: 20px; */
  top: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: transpatrent;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 830px) {
  .menu-btn {
    top: 0px;
  }
}

#active:checked ~ .menu-btn {
  color: #fff;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}
.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 80%;
  /* border: solid 1px red; */
  margin: 0px !important;
  padding: 0px !important;
}
#active {
  display: none;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* -------------------------------------------- Select ----------------------------------- */
.brd {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#app-cover {
  position: absolute;
  top: 150px;
  right: 0;
  left: 0;
  width: 300px;
  height: 42px;
  margin: 100px auto 0 auto;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#select-button {
  position: relative;
  height: 16px;
  padding: 12px 14px;
  background-color: #fff;
  /* border-radius: 4px; */
  cursor: pointer;
}

#options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 9999;
}

#selected-value {
  font-size: 16px;
  line-height: 1;
  margin-right: 26px;
  color: #55636e;
  font-weight: bold;
  padding-left: 10px;
}

.option i {
  width: 16px;
  height: 16px;
}

.option,
.label {
  /* font-family: TBC Contractica CAPS regular; */
  color: #55636e;
  font-size: 16px;
  font-weight: bold;
  /* border: solid 1px green; */
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px;
}

#chevrons i {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right;
}

#options-view-button:checked + #select-button #chevrons i {
  color: #2d3667;
}

.options {
  position: absolute;
  left: 0;
  width: 250px;
}

#options {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  width: 298px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 999;
  /* display: none; */
  /* border-radius: 4px; */
}

#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
  /* border: solid 1px red; */
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
  /* padding-top: 4px; */
}

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
}

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

.label {
  display: none;
  padding: 0;
  margin-left: 10px;
}

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 4px;
}

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.s-c.top {
  top: 0;
}

.s-c.bottom {
  bottom: 0;
}

.s-c {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.s-c:hover ~ i {
  color: #fff;
  opacity: 0;
}

.s-c:hover {
  height: 100%;
  z-index: 1;
}

.s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.label {
  transition: 0.3s ease all;
}

.opt-val {
  position: absolute;
  left: 14px;
  width: 217px;
  height: 21px;
  opacity: 0;
  background-color: #fff;
  transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1);
}

.option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type="radio"]:checked ~ i,
.option input[type="radio"]:checked ~ .label {
  color: #fff;
}

.option input[type="radio"]:checked ~ .label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#options-view-button:not(:checked)
  ~ #options
  .option
  input[type="radio"]:checked
  ~ .opt-val {
  top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
  background-color: #000;
  /* border-radius: 4px 4px 0 0; */
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
  top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
  top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before {
  background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
  top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before {
  background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
  top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before {
  background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
  top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before {
  background-color: #006400;
  /* border-radius: 0 0 4px 4px; */
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
  top: -231px;
}

.option .fa-codepen {
  color: #000;
}

.option .fa-dribbble {
  color: #ea4c89;
}

.option .fa-behance {
  color: #0057ff;
}

.option .fa-hackerrank {
  color: #32c766;
}

.option .fa-stack-overflow {
  color: #f48024;
}

.option .fa-free-code-camp {
  color: #006400;
}

#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

.option:hover .label {
  color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: #000;
  /* border-radius: 4px 4px 0 0; */
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg {
  top: 120px;
  background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg {
  top: 160px;
  background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg {
  top: 200px;
  background-color: #006400;
  /* border-radius: 0 0 4px 4px; */
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #143240;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(20, 50, 64, 0.76);
}
